@using Proyecto1_IPC2.Models;
@model PartidaXtream
@{
    ViewBag.Title = "Partida Xtream";
    ViewBag.Style = "~/css/xtream.css";
    ViewBag.Bootstrap = true;
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "timers",
    };
    if (Model.Type == 6 | Model.Type == 7)
    {
        ViewBag.Tabla = "tabla-lg";
        ViewBag.Usuario = "usuario";
        ViewBag.Player = "1";
        ViewBag.BTurno = "boton-turno-lg";
        ViewBag.BColor = "boton-color-lg";
    }
    else if (Model.Type == 4 | Model.Type == 5)
    {
        ViewBag.Tabla = "tabla";
        ViewBag.Usuario = "usuarios";
        ViewBag.BTurno = "boton-turno";
        ViewBag.BColor = "boton-color";
    }
    if (Model.P1.colorExists(Model.Turno))
    {
        ViewBag.TurnoP1 = " turno";
        ViewBag.TurnoP2 = "";
    }
    else
    {
        ViewBag.TurnoP2 = " turno";
        ViewBag.TurnoP1 = "";
    }
    if(Model.Mesa.Columnas > Model.Mesa.Filas)
    {
        ViewBag.size = (500.0 / (Model.Mesa.Columnas + 2)).ToString() + "px";
        ViewBag.tableroH = (500.0 * (Model.Mesa.Filas+2) / (Model.Mesa.Columnas + 2)) + "px";
        ViewBag.tableroW = (500.0 * (Model.Mesa.Columnas+2) / (Model.Mesa.Columnas + 2)) + "px";
    }
    else
    {
        ViewBag.size = (500.0 / (Model.Mesa.Filas + 2)).ToString() + "px";
        ViewBag.tableroH = (500.0 * (Model.Mesa.Filas+2) / (Model.Mesa.Filas + 2)) + "px";
        ViewBag.tableroW = (500.0 * (Model.Mesa.Columnas+2) / (Model.Mesa.Filas + 2)) + "px";
    }
}

<div class="container">
    <header class="encabezado">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo"></div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="@ViewBag.Tabla row">
                        <div class="col-10">
                            <p class="col row @ViewBag.TurnoP1 @ViewBag.Usuario ">@Model.P1.NombreUsuario</p>
                            <div class="col row">
                                <div class="col negro-sm"></div>
                                <div class="col negro-sm"></div>
                                <div class="col negro-sm"></div>
                                <div class="col negro-sm"></div>
                                <div class="col negro-sm"></div>
                            </div>
                        </div>
                        <div class="col-2 @("player" + ViewBag.Player + "-" + Model.P1.getColor())">
                        </div>
                    </div>
                    @{
                        if (Model.Type == 2 | Model.Type == 4 | Model.Type == 5)
                        {
                            <div class="separador row"></div>
                            if (Model.IsPlaying > 0 | Model.IsPlaying == -2)
                            {
                                <div class="@ViewBag.Tabla row">
                                    <div class="col-10">
                                        <p class="col row usuarios @ViewBag.TurnoP2">@Model.P2.NombreUsuario</p>
                                        <div class="col row">
                                            <div class="col negro-sm"></div>
                                        </div>
                                    </div>
                                    <div class="col-2 @("player-" + Model.P2.getColor())">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="@ViewBag.Tabla row">
                                    @using (Html.BeginForm("DefinirP2", "PartidaX", FormMethod.Post))
                                    {
                                        @Html.TextBox("p2Nombre", "", new { @class = "input", @placeholder = "Jugador 2" })
                                        <button type="submit" class="nameOk">OK</button>
                                    }
                                </div>
                            }

                        }

                    }
                </div>
            </div>
        </div>
    </header>
    </div>
    <div class="row">
        <div class="col-lg-6 container tablero">
            @using (Html.BeginForm("PonerFicha", "PartidaX", FormMethod.Post, new { @style="heght:"+ViewBag.tableroH + ";width:"+ViewBag.tableroW}))
            {
                for (int i = 0; i < Model.Mesa.Filas + 2; i++)
                {
                    if (i == 0 | i == Model.Mesa.Filas + 1)
                    {
            <div class="fila row">
                @for (int j = 0; j < Model.Mesa.Columnas + 2; j++)
                {
                    if (j != Model.Mesa.Columnas + 1)
                    {
                        <p class="marco" style="height:@ViewBag.size; width:@ViewBag.size">@Model.Mesa.intToLetra(j - 1)</p>
                    }
                    else
                    {
                        <p class="marco" style="height:@ViewBag.size; width:@ViewBag.size"></p>
                    }

                }
            </div>
                    }
                    else
                    {
            <div class="fila row">
                @for (int j = 0; j < Model.Mesa.Columnas + 2; j++)
                {
                    if (j == 0 | j == Model.Mesa.Columnas + 1)
                    {
                        if (j == Model.Mesa.Columnas + 1 | j == 0)
                        {
                            <p class="marco" style="height:@ViewBag.size; width:@ViewBag.size">@i </p>
                        }
                        else
                        {
                            <p class="marco" style="height:@ViewBag.size; width:@ViewBag.size"></p>
                        }

                    }
                    else
                    {
                        if(Model.Mesa.Cuadricula[i-1,j-1].Estado == false)
                        {
                            ViewBag.disabled = "disabled";
                            ViewBag.activo = "";
                        }
                        else
                        {
                            ViewBag.activo = "activo";
                            ViewBag.disabled = "";
                        }
                        if(Model.Mesa.Cuadricula[i-1,j-1].Color != 0)
                        {
                            ViewBag.color = Model.Mesa.Cuadricula[i - 1, j - 1].getColor();
                        }
                        else
                        {
                            ViewBag.color = "casilla";
                        }
                        <button class="casilla @ViewBag.activo @ViewBag.color" style="height:@ViewBag.size; width:@ViewBag.size" value="@((j-1) + ((i-1)*Model.Mesa.Columnas))" @ViewBag.disabled name="boton"></button>
                    }

                }
            </div>
                            }
                        }
                    }
            </div>
        <div class="col-lg-6">
            <div class="container botones">
                @if ((Model.Type == 1 | Model.Type > 5) & Model.IsPlaying == 0)
                {
                    <div class="row">
                        <div class="container col-6">
                            @using (Html.BeginForm("IniciarMaquina", "PartidaX", FormMethod.Post))
                            {
                                <button class="empezar" type="submit">Empezar</button>
                            }
                        </div>
                    </div>
                }
                @if (Model.IsPlaying > 0)
                {
                    <div class="row">
                        <div class="col-12">
                            <h2 class="turnos">Turno: @Model.Turnos</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2>Movimientos @Model.P1.NombreUsuario: @Model.P1.Movimientos</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2>Movimientos @Model.P2.NombreUsuario: @Model.P2.Movimientos</h2>
                        </div>
                    </div>
                    <div class="row col-12">
                        @using (Ajax.BeginForm("Timers", "PartidaX", "", ajaxOptions, new { id = "timerForm" }))
                        {

                        }
                        <div id="timers">
                            @Html.Partial("CronometrosX", Model)
                        </div>
                    </div>
                }
                <div class="row">
                    @if (Model.IsPlaying == 1)
                    {
                        <div class="container col-6">
                            <button id="inicio" class="opcion" onclick="location.href='@Url.Action("Descargar")'"><i class="fas fa-cloud-download-alt"></i> Descargar Partida</button>
                        </div>
                    }
                    <div class="container col-6">
                        <button class="salir" data-target="#salirModal" data-toggle="modal">Salir</button>
                    </div>
                </div>
                <div class="row">
                    @if (Model.IsPlaying == 2)
                    {
                        <div class="col-12">
                            <h1 align="center"><b>@Model.getGanador()</b></h1>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="salirModal" data-backdrop="static" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">¿Terminar Partida?</h2>
                        <button class="close" data-dismiss="modal">X</button>
                    </div>

                    <div class="modal-footer">
                        @using (Html.BeginForm("Salir", "PartidaX", FormMethod.Post))
                        {
                            <div class="container">
                                <button type="submit" class="btn btn-success btn-lg">Si</button>
                                <button class="btn btn-danger btn-lg" data-dismiss="modal">No</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
        @if (Model.IsPlaying == 1)
        {
            /*<script>
                var auto_refresh = setInterval(function () { submitform(); }, 1000);
                function submitform() {
                    document.getElementById("timerForm").submit();
                }
            </script>*/
        }
        @if (Model.Type == 1 | Model.Type == 6 | Model.Type == 7)
        {
            if (Model.Turno == Model.P2.Color & Model.IsPlaying == 1)
            {
                using (Html.BeginForm("JugarMaquina", "Partida", FormMethod.Post, new { @id = "maquina" }))
                {

                }
                <script>
                    var auto_refresh = setInterval(function () { submitform(); }, 3000);
                    function submitform() {
                        document.getElementById("maquina").submit();
                    }
                </script>

            }
        }

