@model Proyecto1_IPC2.Models.ViewModels.getUsuarioViewModel
@{
    ViewBag.Title = "Inicio de Sesión";
    ViewBag.Style = "/css/inicio_sesion.css";
}
<header>
    <p><img id="logo" src="~/img/Logo Othello.jpg" onclick="location.href='@Url.Action("Index", "Home")'" /></p>
</header>
@using (Html.BeginForm("Inicio_sesion", "Ingreso", FormMethod.Post))
{
    <article>
        <fieldset>
            <legend>Iniciar Sesión</legend>
            @Html.LabelFor(d => d.nombreUsuario, "Nombre de Usuario:", new { @class = "label" })<br />
            @Html.TextBoxFor(d => d.nombreUsuario, "", new { @class = "input" })<br />
            @Html.ValidationMessageFor(d => d.nombreUsuario, "", new { @class = "error" })<br />

            @Html.LabelFor(d => d.contraseña, "Nombre de Usuario:", new { @class = "label" })<br />
            @Html.TextBoxFor(d => d.contraseña, "", new { @class = "input" })<br />
            @Html.ValidationMessageFor(d => d.contraseña, "", new { @class = "error" })<br />
        </fieldset>
        <input type="submit" value="Ingresar" />
    </article>
}

