@model Proyecto1_IPC2.Models.ViewModels.addUsuarioViewModel
@{
    ViewBag.Title = "Registro";
    ViewBag.Style = "~/css/registro.css";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<header>
    <p><img id="logo" src="~/img/Logo Othello.jpg" onclick="location.href='@Url.Action("Index", "Home")'" /></p>
</header>
@using (Html.BeginForm("Registro", "Ingreso", FormMethod.Post))
{
    <article>
        <fieldset>
            <legend>Registro</legend>

            @Html.ValidationSummary(true, "", new { @class = "error" })

            @Html.LabelFor(d => d.nombre, "Nombres:", new { @class = "label" })<br />
            @Html.TextBoxFor(d => d.nombre, "", new { @class = "input" })<br />
            @Html.ValidationMessageFor(d => d.nombre, "", new { @class = "error" })<br />

            @Html.LabelFor(d => d.apellido, "Apellidos:", new { @class = "label" })<br />
            @Html.TextBoxFor(d => d.apellido, "", new { @class = "input" })<br />
            @Html.ValidationMessageFor(d => d.apellido, "", new { @class = "error" })<br />

            @Html.LabelFor(d => d.nombreUsuario, "Nombre de Usuario:", new { @class = "label" })<br />
            @Html.TextBoxFor(d => d.nombreUsuario, "", new { @class = "input" })<br />
            @Html.ValidationMessageFor(d => d.nombreUsuario, "", new { @class = "error" })<br />

            @Html.LabelFor(d => d.contraseña, "Contraseña:", new { @class = "label" })<br />
            @Html.PasswordFor(d => d.contraseña, new { @class = "input", @type = "password"})<br />
            @Html.ValidationMessageFor(d => d.contraseña, "", new { @class = "error" })<br />

            @Html.LabelFor(d => d.confirmar, "Confirmar contraseña:", new { @class = "label" })<br />
            @Html.PasswordFor(d => d.confirmar, new { @class = "input", @type = "password" })<br />
            @Html.ValidationMessageFor(d => d.confirmar, "", new { @class = "error" })<br />

            @Html.LabelFor(d => d.fecha, "Fecha de nacimiento:", new { @class = "label" })<br />
            @Html.TextBoxFor(d => d.fecha, new { @class = "fecha", @type = "date" })<br />
            @Html.ValidationMessageFor(d => d.fecha, "", new { @class = "error" })<br />

            @Html.LabelFor(d => d.pais, "País:", new { @class = "label" })<br />
            @Html.DropDownListFor(d => d.pais, new SelectList(Enum.GetValues(typeof(Proyecto1_IPC2.Models.ViewModels.pais))), new { @class = "select" })<br />
            @Html.ValidationMessageFor(d => d.pais, "", new { @class = "error" })<br />

            @Html.LabelFor(d => d.correo, "Correo Electrónico:", new { @class = "label" })<br />
            @Html.TextBoxFor(d => d.correo, "", new { @class = "input", @type = "email" })<br />
            @Html.ValidationMessageFor(d => d.correo, "", new { @class = "error" })<br />
        </fieldset>
        <input type="submit" value="Ingresar" />
    </article>
}