@using Proyecto1_IPC2.Models.ViewModels;
@model partidaViewModel
@{
    ViewBag.Title = "Partida Un Jugador";
    ViewBag.Style = "~/css/UnJugador.css";
    ViewBag.Bootstrap = true;
}

<header id="encabezado">
    <img id="othelloLogo" src="~/img/Logo Othello-mini.jpg" />
    <div class="tabla">
        <p id="usuario">@Model.P1.Jugador.NombreUsuario</p>
    </div>
    <div class="separador">

    </div>
</header>
<div class="container col-6">
    <div class="row">
        <div class="tablero">
            <div class="fila" id="primero">
                @for (int i = 0; i < 8; i++)
                {
                    if (!Model.Mesa.Cuadricula[0, i].Estado)
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[0,i].getColor() @Model.Mesa.Cuadricula[0,i].getState()" disabled></button>
                    }
                    else
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[0,i].getColor() @Model.Mesa.Cuadricula[0,i].getState()"></button>
                    }
                    
                }
            </div>
            <div class="fila" id="segunda">
                @for (int i = 0; i < 8; i++)
                {
                    if (!Model.Mesa.Cuadricula[1, i].Estado)
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[1,i].getColor() @Model.Mesa.Cuadricula[1,i].getState()" disabled></button>
                    }
                    else
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[1,i].getColor() @Model.Mesa.Cuadricula[1,i].getState()"></button>
                    }
                }
            </div>
            <div class="fila" id="tercero">
                @for (int i = 0; i < 8; i++)
                {
                    if (!Model.Mesa.Cuadricula[2, i].Estado)
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[2,i].getColor() @Model.Mesa.Cuadricula[2,i].getState()" disabled></button>
                    }
                    else
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[2,i].getColor() @Model.Mesa.Cuadricula[2,i].getState()"></button>
                    }
                }
            </div>
            <div class="fila" id="cuarto">
                @for (int i = 0; i < 8; i++)
                {
                    if (!Model.Mesa.Cuadricula[3, i].Estado)
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[3,i].getColor() @Model.Mesa.Cuadricula[3,i].getState()" disabled></button>
                    }
                    else
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[3,i].getColor() @Model.Mesa.Cuadricula[3,i].getState()"></button>
                    }
                }
            </div>
            <div class="fila" id="quinta">
                @for (int i = 0; i < 8; i++)
                {
                    if (!Model.Mesa.Cuadricula[4, i].Estado)
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[4,i].getColor() @Model.Mesa.Cuadricula[4,i].getState()" disabled></button>
                    }
                    else
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[4,i].getColor() @Model.Mesa.Cuadricula[4,i].getState()"></button>
                    }
                }
            </div>
            <div class="fila" id="sexta">
                @for (int i = 0; i < 8; i++)
                {
                    if (!Model.Mesa.Cuadricula[5, i].Estado)
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[5,i].getColor() @Model.Mesa.Cuadricula[5,i].getState()" disabled></button>
                    }
                    else
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[5,i].getColor() @Model.Mesa.Cuadricula[5,i].getState()"></button>
                    }
                }
            </div>
            <div class="fila" id="septima">
                @for (int i = 0; i < 8; i++)
                {
                    if (!Model.Mesa.Cuadricula[6, i].Estado)
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[6,i].getColor() @Model.Mesa.Cuadricula[6,i].getState()" disabled></button>
                    }
                    else
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[6,i].getColor() @Model.Mesa.Cuadricula[6,i].getState()"></button>
                    }
                }
            </div>
            <div class="fila" id="octavo">
                @for (int i = 0; i < 8; i++)
                {
                    if (!Model.Mesa.Cuadricula[7, i].Estado)
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[7,i].getColor() @Model.Mesa.Cuadricula[7,i].getState()" disabled></button>
                    }
                    else
                    {
                        <button type="submit" class="@Model.Mesa.Cuadricula[7,i].getColor() @Model.Mesa.Cuadricula[7,i].getState()"></button>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="col-6">
    <button class="opcion" data-toggle="modal"><i class="fas fa-cloud-download-alt"></i> Descargar Partida</button>
</div>
