<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render(@ViewBag.Style)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("https://kit.fontawesome.com/67710f970d.js")
</head>
<body>
    <header>
        <p><img id="logo" src="~/img/Logo Othello.jpg" onclick="location.href='@Url.Action("Index", "Home")'"/></p>
    </header>
    @RenderBody()
</body>
</html>
